$light: #ededed;
$light-hover: #efdede;
$light-active: #e6e6e6;

$dark : #242424;
$dark-hover: #3D3D3D;
$dark-active: #FC581F;

$primary: #f91a3f;


$background: #151414;

$mainText:#EBEBEB;
$holders-color:#7A7A7A;